



<!-- <div class="container-fluid">
    <div class="row">
      <div
        class="col-3 collapse show d-md-flex bg-light pt-2 pl-0 min-vh-100"
        id="sidebar"
      >
        <div class="p-2">
          
            <li class="nav-item fs-6">
             
              <ul *ngFor="let item1 of dataList; let j = index">
                <li class="nav-item fs-6">
                  {{ item1.tags }}
                  <ul *ngFor="let item2 of dataList; let k = index">
                    <li class="nav-item fs-6" >
                      {{ item2.operationId }}
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          
        </div>
      </div>
      
    </div>
  </div> -->


<!-- app.component.html -->



<app-side-nav-bar></app-side-nav-bar>
